---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Waste Plastic Baler',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Waste Plastic Baler"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Contact Us', href: '/contact' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/products/baler/baler_lishi_1.jpg',
      alt: 'Waste Plastic Baler',
    }}
  >
    <Fragment slot="title">
      Vertical Waste Plastic Baler
    </Fragment>

    <Fragment slot="subtitle">
      Plastic bottle baling press Cardboard Vertical Hydraulic Baler Machine bale pressing machine
    </Fragment>
  </Hero2>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    title="Find out more content"
    information={`The blog is used to display out news.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
